<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.edvora.TestingAssessment.Utilities.Reporting"/>
	</listeners>
	
	<parameter name="browser" value="Chrome"></parameter>
 	<test thread-count="5" name="Test1">
		<classes>
			<class name="com.edvora.TestingAssessment.TestCases.TC_RegistrationTest_001" />
		</classes>
	</test>
	<test thread-count="5" name="Test2">
		<classes>
			<class name="com.edvora.TestingAssessment.TestCases.TC_LoginTest_002" />
		</classes>
	</test>
	<test thread-count="5" name="Test3">
		<classes>
			<class name="com.edvora.TestingAssessment.TestCases.TC_VerifyProfileEditTest_003" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->



